.containerRegister{
    position: relative;
}

.registerOne{
    width: 100%;
}
/* 
.form{
    position: absolute;
    background-color: rgb(60, 60, 58);
    opacity: 0.8;
    width: 64vw;
    height: 100%;
    top: 0vw;
    left: 18vw;
} */

.formComplete{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 100%;
    top: 0vw;
    left: 18vw;
}

.title{
    border-radius: 20px;
    padding: 0.5vw;
    padding-left: 1.5vw;
    padding-right: 1.5vw;
    color: white;
    margin-top: 5%;
    align-self: center;
    margin-top: 3%;
    font-size: 2rem;
    /* background-color: rgb(54, 232, 210); */
    align-self: flex-start !important;
}

/* .titleForm{
    margin-left: 3%;
} */

.titleForm h4{
    font-size: 1.3rem !important;
}

.formRegister{
    border: 1px solid rgb(54, 232, 210); 
    align-self: center;
    margin-top: 1.5rem;
    width: 90%;
    height: fit-content;
    text-align: left;
    padding: 2rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    color: white;
}

.alertTexts,
.alertTexts2{
    color: red !important;
    font-weight: bold;
    margin-bottom: 0px;
}

.formRegister h4{
    font-size: 1.3vw;
    margin: 0px;
    display: inline;
    margin-top: 3px;
}

.formRegister h5{
    font-size: 0.8rem;
    color: #ccc;
}

.formRegister .data{
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

.formRegister input{
    outline: none;
    background-color: rgb(60, 60, 58);
    border: 1px solid rgb(60, 60, 58);
    border-bottom: 1px solid rgb(54, 232, 210);
    color: white;
}

.inputFecha div div input{
    text-align: center;
}


.containerSave{
    margin-top: 2rem;
}

.containerSave h5{
    margin-bottom: 0.5rem;
}

.containerSave h5{
    font-size: 0.7rem;
    color: #ccc;
}

.buttons{
    margin-left: 4.3vw;
}

.back{
    border: none;
    background-color: rgb(33, 37, 41);
    border-radius: 20px;    
    color: white;
    font-size: 1.3rem;
    padding-top: 0.6vh;
    padding-bottom: 1.2vh;
    padding-left: 1rem;
    padding-right: 1rem;
    text-decoration: none;
    width: fit-content;
    transition: all 300ms;
}

.back:hover{
    color: #ccc;
}

.iconBack{
    margin-right: 0.8vw;
}

.save{
    text-decoration: none;
    background-color: rgb(33, 37, 41);
    color: white;
    width: fit-content;
    align-self: center;
    font-size: 1.3rem;
    padding-top: 0.6vh;
    padding-bottom: 1.2vh;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 20px;
    border: none;
}

.save:hover{
    color: #ccc;
}

.disabled{
    /* pointer-events: none; */
    cursor: pointer;
    background-color: rgb(33, 37, 41) !important;
}

.color{
    background-color: red !important;
    cursor: not-allowed !important;
}

.color:hover{
    color: white;
}

.inputFecha div div input{
    height: 0.9rem !important;
}

@media (min-width: 992px){
    .repeatPass{
        padding-left: 10px;
    }
}

@media (max-width: 992px){
    .formRegister{
        width: 100%;
    }
    .formRegister h4{
        font-size: 0.81rem;
    }
    .data div:nth-child(n+3) h4{
        line-height: 1.5rem !important;
    }
}