.containerRegister{
    background-image: url('../../img/camionetaOscura.png');
    background-size: cover;
    background-position: center;
    min-height: 86.6vh;
}

/* .registerOne{
    width: 100%;
} */

.form{
    background-color: rgb(60, 60, 58);
    opacity: 0.8;
    width: 64vw;
    height: 100%;
}

.formComplete{
    margin: 0px auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 60%;
    height: 100%;
    padding-bottom: 3rem;
}

.title{
    font-size: 1.5rem;
    border-radius: 20px;
    padding: 0.3rem 1rem 0.3rem 1rem;
    color: white;
    align-self: center;
    margin-top: 8%;
    background-color: rgb(54, 232, 210);
}

.titleForm{
    margin-left: 3%;
}

.formRegister{
    border: 1px solid rgb(54, 232, 210);
    align-self: center;
    margin-top: 2rem;
    width: 100%;
    text-align: left;
    padding: 1.8rem 1rem 1.8rem 1rem;
    color: white;
}

.alertTexts,
.alertTexts2{
    color: red !important;
    font-weight: bold;
    margin-bottom: 0px;
    background-color: #ccc;
    padding: 0.2rem 0.3rem 0.2rem 0.3rem;
    border-radius: 20px;
    width: fit-content;
}

.alertTextsC{
    color: red !important;
    font-weight: bold;
    margin-bottom: 0px;
    font-size: 1.2rem !important;
    width: fit-content;
    margin: 0px auto;
    background-color: #ccc;
    border-radius: 20px;
    padding: 0.1rem 0.4rem 0.1rem 0.4rem;
}

.alertTextsSuccess{
    color: green !important;
    font-weight: bold;
    margin-bottom: 0px;
    font-size: 1.2rem !important;
    width: fit-content;
    margin: 0px auto;
    background-color: #ccc;
    border-radius: 20px;
    padding: 0.1rem 0.4rem 0.1rem 0.4rem;
}

.formRegister h4{
    font-size: 1.2rem;
    margin: 0px;
    display: inline;
    margin-top: 3px;
}

.formRegister h5{
    font-size: 0.8rem;
    color: #ccc;
}

.formRegister .data{
    display: flex;
    flex-direction: column;
    margin: 1.5rem 0rem 0rem 0rem;
}

.formRegister .labels{
    margin-right: 0px;
}

.formRegister .inpMail{
    outline: none;
    background-color: rgb(60, 60, 58);
    border: 1px solid rgb(60, 60, 58);
    border-bottom: 1px solid rgb(54, 232, 210);
    color: white;
    height: 1.8rem !important;
    font-size: 1rem;
    padding: 0.1rem 0.8rem 0.2rem 0.8rem;
}

.containerSave{
    margin-top: 3rem;
}

.containerSave .buttons{
    margin-top: 1rem;
}

.back,
.save{
    border: none;
    background-color: rgb(33, 37, 41);
    border-radius: 20px;    
    color: white;
    font-size: 1.5rem;
    text-decoration: none;
    width: fit-content;
    padding: 0rem 0.8rem 0.3rem 0.8rem;
    transition: all 300ms;
}

.back{
    margin-right: 1rem;
}

.save{
    margin-left: 1rem;
}

.save:hover{
    color: #ccc;
}

.back:hover{
    color: #ccc;
}

.iconBack{
    margin-right: 0.8vw;
}


.containerSave h5{
    font-size: 0.8rem;
    color: #ccc;
}

.disabled{
    /* pointer-events: none; */
    cursor: pointer;
    background-color: rgb(33, 37, 41) !important;
}

.color{
    background-color: red !important;
    cursor: not-allowed !important;
}

.color:hover{
    color: white;
}

@media (max-width: 768px){
    .containerRegister{
        background-image: none;
    }
    .formComplete{
        width: 80%;
        margin-top: 1rem;
    }    
    .formRegister .data .alertTexts {
        margin-top: 0.5rem;
    }
    .back,
    .save{
        font-size: 1.3rem;
    }
}

@media (max-width: 576px){
    .formRegister .data .inpMail {
        margin-top: 0.5rem;
    }
    .back,
    .save{
        font-size: 1.2rem;
    }
}