.containerRegister{
    position: relative;
}

.registerOne{
    width: 100vw;
}

.form{
    position: absolute;
    background-color: rgb(60, 60, 58);
    opacity: 0.8;
    width: 64vw;
    height: 100%;
    top: 0vw;
    left: 18vw;
}

.formComplete{
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 64vw;
    height: 100%;
    top: 0vw;
    left: 18vw;
}

.title{
    font-size: 1.5vw;
    border-radius: 20px;
    padding: 0.5vw;
    padding-left: 1.5vw;
    padding-right: 1.5vw;
    color: white;
    margin-top: 5%;
    align-self: center;
    margin-top: 8%;
    background-color: rgb(54, 232, 210);
}

.titleForm{
    margin-left: 3%;
}

.formRegister{
    border: 1px solid rgb(54, 232, 210);
    align-self: center;
    margin-top: 3%;
    width: 90%;
    height: 49%;
    text-align: left;
    padding: 10px;
    padding-top: 30px;
    color: white;
}

.alertTexts,
.alertTexts2{
    color: red !important;
    font-weight: bold;
}

.alertTexts2{
    text-align: right;
    margin-left: 15px;
}

.formRegister h4{
    font-size: 1.3vw;
    margin: 0px;
    display: inline;
    margin-top: 3px;
}

.formRegister h5{
    font-size: 0.8vw;
    color: #ccc;
}

.formRegister .data{
    display: flex;
    flex-direction: column;
    padding-left: 3%;
    margin-top: 2%;
}

.formRegister .data div{
    margin-top: 1%;
}

.formRegister input{
    height: 2.1vw;
    margin-left: 2%;
    outline: none;
    background-color: rgb(60, 60, 58);
    border: 1px solid rgb(60, 60, 58);
    border-bottom: 1px solid rgb(54, 232, 210);
    color: white;
    padding-bottom: 1%;
    padding-top: 1%;
    font-size: 1.1vw;
}

.repeatPass{
    width: 23%;
    padding-left: 5%;
}

.cel2{
    width: 15%;
}

.repeatMail{
    width: 31.3%;
}

.celInp1{
    width: 30%;
    margin-left: 5% !important;
}

.save{
    text-decoration: none;
    background-color: rgb(54, 232, 210);
    color: white;
    width: 20%;
    align-self: center;
    font-size: 1.5vw;
    margin-top: 7%;
    border-radius: 20px;
}

.save:hover{
    color: rgb(60, 60, 58);
}

@media (max-width: 1088px) {
    .repeatMailLabel{
        width: 18%;
    }
    .repeatMail{
        width: 30%;
    }
}


@media (max-width: 807px) {
    .repeatMailLabel{
        width: 20%;
    }
    .repeatMail{
        width: 28%;
    }
}


@media (max-width: 840px) {
    .admLabel{
        width: 34%;
    }
    .inputLabel{
        width: 57.5%;
    }
}


@media (max-width: 737px) {
    .admLabel{
        padding-right: 0px;
    }
}


@media (max-width: 581px) {
    .repeatMailLabel{
        padding-right: 0px;    
    }
}

@media (max-width: 498px) {
    .repeatPass{
        padding-right: 0px;    
    }
}

@media (max-width: 1010px) {
    .formRegister{
        padding-top: 22px;    
    }
}

@media (max-width: 860px) {
    .formRegister{
        padding-top: 16px;    
    }
}

@media (max-width: 760px) {
    .formRegister{
        padding-top: 12px;    
    }
}

@media (max-width: 670px) {
    .formRegister{
        padding-top: 8px;    
    }
}

@media (max-width: 570px) {
    .formRegister{
        padding-top: 4px;    
    }
}

@media (max-width: 500px) {
    .formRegister{
        padding-top: 0px;    
    }
}

@media (max-width: 470px) {
    .formRegister{
        height: 60%;    
    }
}


@media (max-width: 400px) {
    .formRegister{
        height: 63%;    
    }
}

@media (max-width: 370px) {
    .fechaNac{
        width: 36%;   
    }
}

@media (max-width: 360px) {
    .formRegister{
        height: 65%;    
    }
    .admLabel{
        width: 37%;
    }
}


@media (max-width: 340px) {
    .formRegister{
        height: 65%;    
    }
}

@media (max-width: 600px){
    .title{
        margin-top: 5%;
    }
}

@media (max-width: 480px){
    .inputLabel{
        width: 58%;
    }
    .inputDir{
        width: 75%;
    }
    .inputFecha{
        width: 58.5%;
    }
}

@media (max-width: 480px){
    .inputLabel{
        width: 58.5%;
    }
    .inputDir{
        width: 75.9%;
    }
    .inputFecha{
        width: 59.4%;
    }
}

@media (max-width: 410px){
    .inputLabel{
        width: 59.5%;
    }
    .inputDir{
        width: 77%;
    }
    .inputFecha{
        width: 60.5%;
    }
}

@media (max-width: 390px){
    .inputLabel{
        width: 60%;
        margin-top: 3px;
    }
    .repeatMail{
        width: 27%;
    }
    .repeatPassInp{
        width: 32.5%;
    }
    .inputEmail{
        width: 82.5%;
    }
    .celInp2{
        width: 32.5%;
    }
    
}

@media (max-width: 370px){
    .inputLabel{
        width: 60.5%;
    }
    .inputDir{
        width: 77.5%;
    }
    .inputFecha{
        width: 58.5%;
    }
}

@media (max-width: 360px){
    .inputLabel{
        width: 57.5%;
    }
    .repeatMail{
        width: 27% !important;
    }
    .repeatPassInp{
        width: 32.5%;
    }
    .inputFecha{
        width: 58.4%;
    }
    .inputEmail{
        width: 82.5%;
    }
    .cel2{
        width: 14%;
        padding-left: 5px !important;
    }
    
}


@media (max-width: 350px){
    .formRegister{
        padding-right: 13px;
    }
}


@media (max-width: 343px){
    
    .inputDir{
        width: 78%;
    }
    .inputFecha{
        width: 59%;
    }
    .repeatPassInp{
        width: 32%;
    }
}

@media (max-width: 325px){
    .repeatMail{
        width: 26.5% !important;
    }
    .repeatPassInp{
        width: 31.5%;
    }
    .inputLabel{
        width: 58%;
    }
    .inputDir{
        width: 78.5%;
    }
    .inputFecha{
        width: 59%;
    }
    .repeatPassInp{
        width: 32%;
    }
    .inputEmail{
        width: 82%;
    }
}

@media (max-width: 315px){
    .repeatMail{
        width: 25.8% !important;
    }
     .repeatPassInp{
        width: 31.2%;
    }
    /*
    .inputLabel{
        width: 58%;
    }
    .inputDir{
        width: 78.5%;
    }
    .inputFecha{
        width: 59%;
    }
    .repeatPassInp{
        width: 32%;
    }
    .inputEmail{
        width: 82%;
    } */
}

@media (max-width: 311px){
    .repeatMail{
        width: 25.8% !important;
    }
     .repeatPassInp{
        width: 31.2%;
    }
    .admLabel{
        padding-right: 0px;
    }
  
    /*
    .inputLabel{
        width: 58%;
    }
    .inputDir{
        width: 78.5%;
    }
    .inputFecha{
        width: 59%;
    }
    .repeatPassInp{
        width: 32%;
    }
    .inputEmail{
        width: 82%;
    } */
}



