.linkImg{
    margin-left: 20%;
}

.linkImg .imageEvann{
    width: 20vw;
}

.navBar{
    background-color: rgb(60, 60, 59) !important;
}

.options{
    width: 50% !important;
}

.options ul{
    margin-left: 25%;
}

.options ul li a{
    color: white !important;
}

.link{
    text-decoration: none;
    color: white !important;
}

.linkLogin{
    text-decoration: none;
    color: white !important;
    background-color: rgb(54, 232, 210);
    border-radius: 20px;
    padding: 0px;
    padding-left: 15px !important;
    padding-right: 15px !important;
    padding-top: 2px !important;
    padding-bottom: 2px !important;
    font-size: 1.5vw !important;
}

.linkLogin:hover{
    color: black !important;
}

@media (max-width: 991px) {
    .imageEvann{
        width: 35vw;
        margin-left: 0%;
    }
    .options ul{
        margin-left: 0%;
    }
    .linkLogin{
        width: 20vw;
        margin-left: 40vw;
        margin-top: 2vh;
    }
    .linkImg{
        margin-left: 40vw;
    }
}