.containerEditarMisDatos{
    background-image: url('../../img/camionetaOscura.png');
    background-size: cover;
    background-position: center;   
}

.registerOne{
    width: 100%;
}

.formComplete{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    margin: 0px auto;
    height: 100%;
}

.title{
    font-size: 2rem;
    border-radius: 20px;
    padding: 0.5vw;
    padding-left: 1.5vw;
    padding-right: 1.5vw;
    color: white;
    align-self: flex-start !important;
}

.titleForm{
    margin-left: 3%;
}

.formRegister{
    border: 1px solid rgb(54, 232, 210); 
    align-self: center;
    width: 90%;
    /* height: 49% !important; */
    text-align: left;
    padding: 1.5rem 0.5rem 2rem 0.5rem;
    color: white;
}

.alertTexts,
.alertTexts2{
    color: red !important;
    font-weight: bold;
    margin-bottom: 0px;
}


.formRegister h4{
    font-size: 1.2rem;
    margin: 0px;
    min-width: fit-content;
    /* margin-top: 3px; */
}

.formRegister h5{
    font-size: 0.8rem;
    color: #ccc;
}

.formRegister .data{
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
    padding-right: 1rem;
    /* padding-left: 3%; */
    /* margin-top: 2%; */
}

.formRegister .data div{
    margin-top: 1%;
}


.formRegister input{
    height: 2.1vw;
    /* margin-left: 2%; */
    outline: none;
    background-color: rgb(60, 60, 58);
    border: 1px solid rgb(60, 60, 58);
    border-bottom: 1px solid rgb(54, 232, 210);
    color: white;
    font-size: 1rem;
}

.inputFecha div div input{
    text-align: center;
    height: 1rem !important;
}


.containerSave{
    margin-top: 2rem;
}

.containerSave h5{
    margin-bottom: 0.5rem;
}

.containerSave h5{
    font-size: 0.8rem;
    color: #ccc;
}

.buttons{
    display: flex;
    flex-flow: row wrap;
    margin: 0px auto;
    justify-content: center;
}

.buttons div{
    width: 30%;
}

.back{
    border: none;
    background-color: rgb(33, 37, 41);
    border-radius: 20px;    
    color: white;
    font-size: 1.6vw;
    padding-top: 0.6vh;
    padding-bottom: 1.2vh;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
    text-decoration: none;
    width: fit-content;
    transition: all 300ms;
    margin-right: 2rem;
}

.back:hover{
    color: #ccc;
}

.iconBack{
    margin-right: 0.8vw;
}

.save{
    text-decoration: none;
    background-color: rgb(33, 37, 41);
    color: white;
    width: fit-content;
    align-self: center;
    font-size: 1.6vw;
    padding-top: 0.6vh;
    padding-bottom: 1.2vh;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
    border-radius: 20px;
    border: none;
}

.save:hover{
    color: #ccc;
}

.disabled{
    cursor: pointer;
    background-color: rgb(33, 37, 41) !important;
}

.color{
    background-color: red !important;
    cursor: not-allowed !important;
}

.color:hover{
    color: white;
}


@media (max-width: 992px) {
    .formComplete{
        width: 90vw;
        margin: 0px auto;
    }
    .containerSave h5{
        margin-top: 0.5rem;
    }
    .buttons{
        display: flex;
        flex-flow: row wrap;
        margin: 0px auto;
    }
    .buttons .save{
        order: 1;
        margin-top: 0.4rem;
        font-size: 1rem;
    }
    .buttons .back{
        order: 2;
        margin: 0px auto;
        margin-top: 0.4rem;
        font-size: 1rem;
    }
    .containerSave{
        margin-top: 3rem !important;
    }
    .containerSave h5{
        font-size: 1rem;
    }
}


@media (max-width: 767px){
    .containerEditarMisDatos{
        background-image: none;
    }
    .inputDir,
    .celInp1,
    .celInp2{
        margin-top: 0.4rem;
    }
    .formRegister{
        width: 80%;
        margin-top: 2rem;
        padding-top: 1rem;
    }
    .formRegister .data{
        padding-right: 0rem;
    }
    .titleForm h4{
        font-size: 1.5rem;
    }
    .titleForm h5{
        font-size: 1rem;
    }
    .repeatMailLabel{
        margin-top: 0.7rem !important;
    }
    .data div h4{
        width: fit-content !important;
    }
    .containerSave{
        margin-top: 0.8rem !important;
    }
    .containerSave h5{
        margin-top: 0.5rem !important;
    }
    .buttons{
        display: flex;
        flex-flow: row wrap;
        margin: 0px auto;
    }
    .buttons div{
        width: 40%;
    }
    .buttons .save{
        order: 1;
    }
    .buttons .back{
        order: 2;
        margin: 0px auto;
        margin-top: 0.4rem;
    }
    .data h4{
        font-size: 1rem !important;
    }
    input[type="text"],
    input[type="password"]{
        height: 1.2rem;
        font-size: 0.7rem;
    }
    .inputFecha div div input{
        font-size: 1rem;
    }
}

@media (max-width: 576px){
    .buttons{
        display: flex;
        flex-flow: column wrap;
        margin: 0px auto;
        align-items: center;
        margin-bottom: 2rem;
    }
    .buttons div{
        width: 100%;
    }
}




